
@{
}
<body style="background-color:aliceblue;">
<p><center><b>USER NOT LOGGED IN </b></center></p>
<p><center>Either <i>USERNAME</i> or <i>PASSWORD</i> was incorrect.Kindly re-enter the details and try again</center></p>
</body>