@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:lightcyan;">
<div class="text-center">
    <h1 class="display-4">WELCOME</h1>
    <p>Let's learn about Asset Management System <a href="https://www.bing.com/search?q=what+is+asset+management+system&cvid=31e737f6187a49c49233d67649ceb1bf&aqs=edge.0.0j69i57j0l7.8974j0j1&pglt=43&FORM=ANNAB1&PC=HCTS">What is Asset Management System?</a>.</p>
</div>
</body>